<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string>debug_url_perference_Title</string>
			<key>DefaultValue</key>
			<string>地址优先取输入框,输入框为空,取选择的。</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>环境选择</string>
			<key>Key</key>
			<string>debug_url_perference_Multi</string>
			<key>DefaultValue</key>
			<string>http://120.55.55.180/</string>
			<key>Titles</key>
			<array>
				<string>测试(http://test.51xyb.cn/)</string>
				<string>线上(https://www.51xyb.cn/)</string>
			</array>
			<key>Values</key>
			<array>
				<string>http://test.51xyb.cn/</string>
				<string>https://www.51xyb.cn/</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>环境输入</string>
			<key>Key</key>
			<string>debug_url_perference_TextField</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
